[submodule "ByteReader"]
	path = ByteReader
	url = https://github.com/ggcrunchy/ByteReader
	branch = master
[submodule "solar2d_native_utils"]
	path = solar2d_native_utils
	url = https://github.com/ggcrunchy/solar2d_native_utils
	branch = master
